/* 
    Document   : style
    Created on : Dec 27, 2011, 12:43:17 AM
    Author     : med
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#snipets_block {
    margin-bottom: 40px !important;
}
.snip-caption {
    left: 60%;
    background-color: rgba(100, 100, 100, 0.2);
    padding: 20px 10px;
    position: absolute;
    height: 100%;
}
#snipnav {
    position: absolute;
    left: 45%;
    bottom: -30px;
}
#snipnav a {
    display:block;
    width:22px;
    height:22px;
    background:url(../bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
#snipnav a.activeSlide {
    background-position: 0 -22px;
}
#snip_content {
    overflow: hidden;
    height: 420px;
    width: 635px;
}